.root {
  display: flex;
  width: 168px;
  height: 58px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.roottype_solidOrange {
  background: rgb(233, 156, 46);
}
.roottype_solidGray {
  background: var(--token-7IvcGB8Pm_uNbu);
}
.roottype_outlineGray {
  border: 1px solid var(--token-7IvcGB8Pm_uNbu);
}
.rootsize_small {
  width: 100px;
  height: 48px;
}
.roottype_solidOrange:hover {
  background: var(--token-maWCPk1v_oCK);
  border: 1px solid rgb(233, 156, 46);
}
.roottype_solidGray:hover {
  background: var(--token-maWCPk1v_oCK);
  border: 1px solid var(--token-7IvcGB8Pm_uNbu);
}
.roottype_blankOrange:hover {
  border: 1px solid rgb(233, 156, 46);
}
.roottype_outlineGray:hover {
  background: var(--token-7IvcGB8Pm_uNbu);
}
.slotTargetText {
  font-weight: 700;
}
.slotTargetTexttype_solidOrange {
  color: var(--token-maWCPk1v_oCK);
}
.slotTargetTexttype_solidGray {
  color: var(--token-Nm_nz_OUstw258);
}
.slotTargetTexttype_blankOrange {
  color: rgb(233, 156, 46);
}
.slotTargetTexttype_outlineGray {
  color: var(--token-ap2kFqu_rhGX7H);
}
.slotTargetTexttype_blankGray {
  color: var(--token-ap2kFqu_rhGX7H);
}
.roottype_solidOrange:hover .slotTargetTexttype_solidOrange {
  color: rgb(233, 156, 46);
}
.roottype_solidGray:hover .slotTargetTexttype_solidGray {
  color: var(--token-ap2kFqu_rhGX7H);
}
.roottype_outlineGray:hover .slotTargetTexttype_outlineGray {
  color: var(--token-Nm_nz_OUstw258);
}
.roottype_blankGray:hover .slotTargetTexttype_blankGray {
  color: rgb(233, 156, 46);
}
