.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__ltylA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") left 0% bottom 46.89% / 2127px 1989px
    repeat;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ltylA {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.header2__a2Mle:global(.__wab_instance) {
  margin-top: 0px;
  width: 1300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2__a2Mle:global(.__wab_instance) {
    margin-top: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__qImyO {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  min-width: 0;
  padding: 128px 32px 250px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qImyO {
    padding-top: 130px;
    padding-bottom: 220px;
  }
}
.foreground2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gNbGe {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gNbGe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__gNbGe > :global(.__wab_flex-container) > *,
.freeBox__gNbGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gNbGe > :global(.__wab_flex-container) > picture > img,
.freeBox__gNbGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gNbGe > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gNbGe > :global(.__wab_flex-container) > *,
  .freeBox__gNbGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gNbGe > :global(.__wab_flex-container) > picture > img,
  .freeBox__gNbGe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-T2HyQARxpVgN56);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
  }
}
.freeBox__dw9Ed {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 507px;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dw9Ed {
    position: relative;
  }
}
.text__u4BcV {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u4BcV {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__ab715 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: none;
}
.freeBox__ab715 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ab715 > :global(.__wab_flex-container) > *,
.freeBox__ab715 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ab715 > :global(.__wab_flex-container) > picture > img,
.freeBox__ab715
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__hhLu6 {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2___1DkO5:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2___1DkO5:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__a8HgI {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__adkFf {
  position: relative;
}
.columns__fqhdS {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__fqhdS > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__fqhdS > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__fqhdS > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__fqhdS > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__fqhdS > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__fqhdS > :global(.__wab_flex-container) > *,
.columns__fqhdS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fqhdS > :global(.__wab_flex-container) > picture > img,
.columns__fqhdS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fqhdS {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fqhdS > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fqhdS > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fqhdS > :global(.__wab_flex-container) > *,
  .columns__fqhdS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__fqhdS > :global(.__wab_flex-container) > picture > img,
  .columns__fqhdS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column___61F5U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__nqIqm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__nqIqm:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img___2Jww3 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___2Jww3 > picture > img {
  object-fit: cover;
}
.img___2Jww3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__bNrl6:global(.__wab_instance) {
  position: relative;
}
.column__eHjzW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__htRv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__prWqa {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__prWqa > picture > img {
  object-fit: cover;
}
.img__prWqa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__fl27Y:global(.__wab_instance) {
  position: relative;
}
.column__a4Pg9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__d5K9H:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__wjsou {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wjsou > picture > img {
  object-fit: cover;
}
.img__wjsou > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__gPu39:global(.__wab_instance) {
  position: relative;
}
.column__vqv4D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__xjYtg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__tk7OZ {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tk7OZ > picture > img {
  object-fit: cover;
}
.img__tk7OZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__s6UCf:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__qYkqv {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__xWaDi {
  position: relative;
  color: var(--token-ap2kFqu_rhGX7H);
  font-size: 30px;
  font-weight: 500;
}
.columns___5QdvE {
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns___5QdvE > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns___5QdvE > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns___5QdvE > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns___5QdvE > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns___5QdvE > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns___5QdvE > :global(.__wab_flex-container) > *,
.columns___5QdvE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___5QdvE > :global(.__wab_flex-container) > picture > img,
.columns___5QdvE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5QdvE {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5QdvE > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5QdvE > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5QdvE > :global(.__wab_flex-container) > *,
  .columns___5QdvE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___5QdvE > :global(.__wab_flex-container) > picture > img,
  .columns___5QdvE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__sbT15 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__fsdPb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__hSTx {
  height: auto;
}
.text__yp76U {
  height: auto;
}
.img__gdPiE {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__gdPiE > picture > img {
  object-fit: cover;
}
.img__gdPiE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__psgX:global(.__wab_instance) {
  position: relative;
}
.column___63Lsh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__xq8ZB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ml6Eo {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ml6Eo > picture > img {
  object-fit: cover;
}
.img__ml6Eo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__nnFzq:global(.__wab_instance) {
  position: relative;
}
.column__xzLk6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__ka3U:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__cPws9 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__cPws9 > picture > img {
  object-fit: cover;
}
.img__cPws9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__jfTlP:global(.__wab_instance) {
  position: relative;
}
.column__jQpbl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__ho29Z:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__ho29Z:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__tnzP {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__tnzP > picture > img {
  object-fit: cover;
}
.img__tnzP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__mnudH:global(.__wab_instance) {
  position: relative;
}
.freeBox__zVq6 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__zWkB {
  position: relative;
  color: var(--token-ap2kFqu_rhGX7H);
  font-size: 30px;
  font-weight: 500;
}
.columns__sKn3V {
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__sKn3V > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__sKn3V > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__sKn3V > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__sKn3V > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__sKn3V > :global(.__wab_flex-container) > *,
.columns__sKn3V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__sKn3V > :global(.__wab_flex-container) > picture > img,
.columns__sKn3V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sKn3V {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sKn3V > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sKn3V > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__f68T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___0Dc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__oTpPk {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__oTpPk > picture > img {
  object-fit: cover;
}
.img__oTpPk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___7HYhI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___6UxvT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__zdtz {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__zdtz > picture > img {
  object-fit: cover;
}
.img__zdtz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__ir8We {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__ezoxd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___4L8M {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___4L8M > picture > img {
  object-fit: cover;
}
.img___4L8M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__rWYq5 {
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-ZFHeVtizWt8_M5);
  display: none;
  padding: 48px;
}
.freeBox__rWYq5 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rWYq5 > :global(.__wab_flex-container) > *,
.freeBox__rWYq5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rWYq5 > :global(.__wab_flex-container) > picture > img,
.freeBox__rWYq5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__l2FYa {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__l2FYa > picture > img {
  object-fit: cover;
}
.img__l2FYa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__eySnc {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__eySnc > picture > img {
  object-fit: cover;
}
.img__eySnc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__aMqWa {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__aMqWa > picture > img {
  object-fit: cover;
}
.img__aMqWa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__yg3Mc {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__yg3Mc > picture > img {
  object-fit: cover;
}
.img__yg3Mc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__taPtx {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__taPtx > picture > img {
  object-fit: cover;
}
.img__taPtx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer__yKyQj:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__cFg2U {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__cFg2U > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cFg2U > :global(.__wab_flex-container) > *,
.freeBox__cFg2U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cFg2U > :global(.__wab_flex-container) > picture > img,
.freeBox__cFg2U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__fGMjE {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-Nb2zGGFUQHFNk9);
}
.columns__gRpTk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__gRpTk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__gRpTk > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__gRpTk > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__gRpTk > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__gRpTk > :global(.__wab_flex-container) > *,
.columns__gRpTk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gRpTk > :global(.__wab_flex-container) > picture > img,
.columns__gRpTk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gRpTk {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gRpTk > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gRpTk > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__gHYm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__gHYm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__gHYm > :global(.__wab_flex-container) > *,
.column__gHYm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gHYm > :global(.__wab_flex-container) > picture > img,
.column__gHYm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___9P0Vu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-Wa3sKj20wwXUep);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___9P0Vu > picture > img {
  object-fit: cover;
}
.img___9P0Vu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__tnsrm {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Nm_nz_OUstw258);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__iVb4L {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jlsak-peG0J81V);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__uL8P8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__d1B5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 24px;
  min-width: 0;
}
.text__dw1Zr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T2HyQARxpVgN56);
  min-width: 0;
}
.h5__qxudg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  line-height: 34px;
  min-width: 0;
}
.column___9Wmqf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___9Wmqf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___9Wmqf > :global(.__wab_flex-container) > *,
.column___9Wmqf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9Wmqf > :global(.__wab_flex-container) > picture > img,
.column___9Wmqf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__e4Gmk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-Wa3sKj20wwXUep);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__e4Gmk > picture > img {
  object-fit: cover;
}
.img__e4Gmk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ywAo0 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Nm_nz_OUstw258);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___9Ycya {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jlsak-peG0J81V);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__gahF1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__yqEd8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 24px;
  min-width: 0;
}
.text__nvEFi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T2HyQARxpVgN56);
  min-width: 0;
}
.h5__rSwp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  line-height: 34px;
  min-width: 0;
}
.column__uszeM {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__uszeM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__uszeM > :global(.__wab_flex-container) > *,
.column__uszeM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uszeM > :global(.__wab_flex-container) > picture > img,
.column__uszeM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__tKrRz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-Wa3sKj20wwXUep);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__tKrRz > picture > img {
  object-fit: cover;
}
.img__tKrRz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___78Hnu {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Nm_nz_OUstw258);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___4GBi {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jlsak-peG0J81V);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__pN3A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___0NQzy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 24px;
  min-width: 0;
}
.text__ycmZw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T2HyQARxpVgN56);
  min-width: 0;
}
.h5__xcPp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  line-height: 34px;
  min-width: 0;
}
.img__f1U3F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-Wa3sKj20wwXUep);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__f1U3F > picture > img {
  object-fit: cover;
}
.img__f1U3F > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__nv6VK {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Nm_nz_OUstw258);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__mts82 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jlsak-peG0J81V);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__md53 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___3DcDe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 24px;
  min-width: 0;
}
.text__aNgHr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T2HyQARxpVgN56);
  min-width: 0;
}
.h5__gwK02 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___3RKzI {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3RKzI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___3RKzI > :global(.__wab_flex-container) > *,
.freeBox___3RKzI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3RKzI > :global(.__wab_flex-container) > picture > img,
.freeBox___3RKzI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__kzat8 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-Nb2zGGFUQHFNk9);
}
.columns__jlvDl {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__jlvDl > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__jlvDl > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__jlvDl > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__jlvDl > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__jlvDl > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__jlvDl > :global(.__wab_flex-container) > *,
.columns__jlvDl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__jlvDl > :global(.__wab_flex-container) > picture > img,
.columns__jlvDl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jlvDl {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jlvDl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jlvDl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__ypdL8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ypdL8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__ypdL8 > :global(.__wab_flex-container) > *,
.column__ypdL8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ypdL8 > :global(.__wab_flex-container) > picture > img,
.column__ypdL8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__fcax2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-Wa3sKj20wwXUep);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__fcax2 > picture > img {
  object-fit: cover;
}
.img__fcax2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__wERq {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Nm_nz_OUstw258);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__bltbK {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jlsak-peG0J81V);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ghBe9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__eOev8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 24px;
  min-width: 0;
}
.text__sJzPk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T2HyQARxpVgN56);
  min-width: 0;
}
.h5__ruzLu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  line-height: 34px;
  min-width: 0;
}
.column___1MA4Z {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___1MA4Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___1MA4Z > :global(.__wab_flex-container) > *,
.column___1MA4Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___1MA4Z > :global(.__wab_flex-container) > picture > img,
.column___1MA4Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__qKfBj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-Wa3sKj20wwXUep);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__qKfBj > picture > img {
  object-fit: cover;
}
.img__qKfBj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__oqUMa {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Nm_nz_OUstw258);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__gkwe1 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jlsak-peG0J81V);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ejkiG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__nclHy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 24px;
  min-width: 0;
}
.text__xEQwj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T2HyQARxpVgN56);
  min-width: 0;
}
.h5__bcCc4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  line-height: 34px;
  min-width: 0;
}
.column__zp8Gi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__zp8Gi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__zp8Gi > :global(.__wab_flex-container) > *,
.column__zp8Gi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zp8Gi > :global(.__wab_flex-container) > picture > img,
.column__zp8Gi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__tvVki {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-Wa3sKj20wwXUep);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__tvVki > picture > img {
  object-fit: cover;
}
.img__tvVki > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___4NbMx {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Nm_nz_OUstw258);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__rdjyV {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jlsak-peG0J81V);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__y1KD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__w7IKi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__n3Gb9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T2HyQARxpVgN56);
  min-width: 0;
}
.h5__r33D6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  line-height: 34px;
  min-width: 0;
}
.column__mBoyD {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__mBoyD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__mBoyD > :global(.__wab_flex-container) > *,
.column__mBoyD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mBoyD > :global(.__wab_flex-container) > picture > img,
.column__mBoyD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__uyLg1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-Wa3sKj20wwXUep);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__uyLg1 > picture > img {
  object-fit: cover;
}
.img__uyLg1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__exomH {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Nm_nz_OUstw258);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__z6YBz {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jlsak-peG0J81V);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___71JD2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__asgYn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 24px;
  min-width: 0;
}
.text__asI7R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T2HyQARxpVgN56);
  min-width: 0;
}
.h5__tt3Dl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T2HyQARxpVgN56);
  line-height: 34px;
  min-width: 0;
}
.weLove {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: -150px;
  padding: 0px 0px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weLove {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 55px;
  }
}
.freeBox__rxNaT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__ab7R {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns__ab7R > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.columns__ab7R > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 50px) * 6 / 12);
}
.columns__ab7R > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 50px) * 6 / 12);
}
.columns__ab7R > :global(.__wab_flex-container) > *,
.columns__ab7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ab7R > :global(.__wab_flex-container) > picture > img,
.columns__ab7R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ab7R {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ab7R > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ab7R > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
.column__cSgts {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__qnv6W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img__qnv6W > picture > img {
  object-fit: cover;
}
.img__qnv6W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qnv6W {
    height: 400px;
    flex-shrink: 0;
  }
}
.column__jaVtG {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__jaVtG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__jaVtG > :global(.__wab_flex-container) > *,
.column__jaVtG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jaVtG > :global(.__wab_flex-container) > picture > img,
.column__jaVtG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jaVtG > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jaVtG > :global(.__wab_flex-container) > *,
  .column__jaVtG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__jaVtG > :global(.__wab_flex-container) > picture > img,
  .column__jaVtG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__hqC4 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 42px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__hqC4 {
    font-size: 32px;
  }
}
.text__yWsp {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yWsp {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.weThink {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding: 0px 0px 95px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weThink {
    padding-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.freeBox___9O7It {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__ufSsf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns__ufSsf > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.columns__ufSsf > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 50px) * 6 / 12);
}
.columns__ufSsf > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 50px) * 6 / 12);
}
.columns__ufSsf > :global(.__wab_flex-container) > *,
.columns__ufSsf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ufSsf > :global(.__wab_flex-container) > picture > img,
.columns__ufSsf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ufSsf {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ufSsf > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ufSsf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
.column__rmWvU {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__rmWvU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__rmWvU > :global(.__wab_flex-container) > *,
.column__rmWvU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__rmWvU > :global(.__wab_flex-container) > picture > img,
.column__rmWvU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rmWvU > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rmWvU > :global(.__wab_flex-container) > *,
  .column__rmWvU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__rmWvU > :global(.__wab_flex-container) > picture > img,
  .column__rmWvU
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__jyw4Y {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-T2HyQARxpVgN56);
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__jyw4Y {
    width: auto;
    height: auto;
    font-size: 32px;
    font-weight: 600;
    color: var(--token-T2HyQARxpVgN56);
  }
}
.text__nAfgL {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nAfgL {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    text-align: left;
    min-width: 0;
  }
}
.column__dg6Zz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.img__lXydV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img__lXydV > picture > img {
  object-fit: cover;
}
.img__lXydV > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lXydV {
    width: 500px;
    height: 400px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.footer__rkJ4U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
