.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__nvCxG {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__nvCxG > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__nvCxG > :global(.__wab_flex-container) > *,
.freeBox__nvCxG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nvCxG > :global(.__wab_flex-container) > picture > img,
.freeBox__nvCxG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nvCxG {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link__u72Oa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__yi8V {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__vsVic {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__vsVic > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__vsVic > :global(.__wab_flex-container) > *,
.freeBox__vsVic > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vsVic > :global(.__wab_flex-container) > picture > img,
.freeBox__vsVic
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vsVic {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vsVic > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vsVic > :global(.__wab_flex-container) > *,
  .freeBox__vsVic > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vsVic > :global(.__wab_flex-container) > picture > img,
  .freeBox__vsVic
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__vsVicaDej8 {
    display: none;
  }
}
.link__kwu1G {
  color: var(--token-Nm_nz_OUstw258);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kwu1G {
    font-size: 16px;
  }
}
.link__spHHc {
  color: var(--token-Nm_nz_OUstw258);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__spHHc {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-Nm_nz_OUstw258);
  }
}
.link__zisC {
  color: var(--token-Nm_nz_OUstw258);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zisC {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-Nm_nz_OUstw258);
  }
}
.freeBox__wwJs {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__wwJs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__wwJs > :global(.__wab_flex-container) > *,
.freeBox__wwJs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wwJs > :global(.__wab_flex-container) > picture > img,
.freeBox__wwJs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fl8Rz {
  position: relative;
  object-fit: cover;
  color: var(--token-Nm_nz_OUstw258);
  width: 30px;
  height: 30px;
}
.root .svg__fl8Rz:hover {
  color: rgb(233, 156, 46);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token-Nm_nz_OUstw258);
  padding-left: 10px;
  font-weight: 700;
}
.freeBox___10Alc {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__vkraz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__nQduD:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__ilGqF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__thTiA:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__hfUsO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
